#container {
  width: 100%;
  height: 600px;
  background-image: url('./images/devde.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  background-color: #fff;
  gap: 30px;
  background: rgba(255, 255, 255, 0.5);
}

span {
  color: red
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  width: 300px;
  gap: 30px
}

#nav>a {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}


/* ////////////////////////------- SEÇAÕ 02 ---------- ////////////////////////////////////////////////////////////////// */


#section-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  background-color: #000;
  align-items: center;
  justify-content: space-around;
}

#section-2>div {
  max-width: 500px;
}

#section-2>div>h1 {
  font-size: 40px;
  color: #fff;
}

#section-2>div>h2 {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}

#section-2>img {
  width: 500px;
  height: 300px;
  background-size: cover;
  border-radius: 60px;
}


/* ////////////////////////------- SEÇAÕ 03 ---------- ////////////////////////////////////////////////////////////////// */


#section-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
}

#section-3>div {
  max-width: 500px;
}

#section-3>div>h1 {
  font-size: 40px;
  color: #FBBB21;
}

#section-3>div>h2 {
  font-size: 22px;
  font-weight: 300;
  color: #000;
}

#section-3>img {
  width: 500px;
  height: 300px;
  background-size: cover;
  border-radius: 60px;
}

/* ////////////////////////------- SEÇAÕ 04 ---------- ////////////////////////////////////////////////////////////////// */


#section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: #000000;
  align-items: center;
  justify-content: center;

}


#section-4>div {
  max-width: 900px;
}

#section-4>div>h1 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
}


#section-4>img {
  width: 400px;

  background-size: cover;
  background-size: cover;
  border-radius: 60px;
}


/* ////////////////////////------- SEÇAÕ 05 ---------- ////////////////////////////////////////////////////////////////// */


#section-5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;

}

#section-5>h1 {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  max-width: 600px;
}


#section-5>img {
  width: 200px;
  background-size: cover;
  border-radius: 60px;
}

/* ////////////////////////------- SEÇAÕ 06 ---------- ////////////////////////////////////////////////////////////////// */


#section-6 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  background-color: #000000;
  align-items: center;
  justify-content: space-around;

}

.horarios {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

.horarios>h1 {
  color: #FBBB21;

}

.dia {
  font-size: 18px;
  font-weight: 300;
  color: #FBBB21;
  text-align: center;
  max-width: 515px;
  width: 100%;
}


/* ////////////////////////------- SEÇAÕ 07 ---------- ////////////////////////////////////////////////////////////////// */


#section-7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;

}

#section-7>h1 {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  max-width: 600px;
}


#section-7 > img {
  width: 200px;
  background-size: cover;
  border-radius: 60px;
}


/* ////////////////////////------- RODAPÉ ---------- ////////////////////////////////////////////////////////////////// */



#c-footer{
  width: 100%;
  height: 50px;
}

#footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: #000000;

}

#footer > a{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}