.header {
    width: 100%;
    background-color: rgb(255, 254, 254);
}

.container {
    margin-left: 50px;

}
.logo {
    font-size: 35px;
    font-weight: bold;
}
span {
    color: red;
    font-size: 30px;
  }